<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
	algoliasearchNetlify({
		appId: 'GUU80Y301J',
		apiKey: '1f162684f3ef08da37b800fc21ba3171',
		siteId: '08fc798c-3b5c-4841-acd4-7babf424a393',
		branch: 'main',
		selector: 'div#search',
	});
</script>


<script src="https://kit.fontawesome.com/1fca07cddd.js" crossorigin="anonymous"></script>